:root {
    --orange: #D98E04;
    --yellow: #F2B705;
    --base1: #7C9EA6;
    --base2: #587E8C;
    --base3: #183540;
  }

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  color: var(--base3);
  padding: 10;
  width: '100%';
}

h4 {
  color: var(--base1);
  text-align: center;
  margin-top: 20px;
}


  /* Scrollbar Styles */
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* border: solid 0.5px var(--highlight);
    border-radius: 5px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--orange); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--yellow); 
  }